################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/CppConsole/.vs/CppConsole/v17
/CppConsole/x64/Debug
